<!-- addfilm adding via form instance version -->
<style>
	.AddFilmDiv{ text-align: left;padding-top: 60px;}
	#back { margin-right:455;}

</style>

{% extends "base.html"%}

{% block content %}

<div class="AddFilmDiv">
	<a id="back" onClick="javascript:history.go(-1);">&lt;--Back</a>
	<h2>ADD NEW FILM</h2>

        <form id="add_film_form" method="post" action="/films/film_add/"
                enctype="multipart/form-data">

            {% csrf_token %}
            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ addFilmForm.as_p }}
            

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Add" />
        </form>
	
</div>

{% endblock %}