<style>
	table,th,td
	{
		border:1px solid black;
		border-collapse:collapse;
	}
	th,td
	{
		padding:5px;
	}
	th
	{ 
		text-align:center;
		font-style: bold;
	}
	#back { margin-right:455;}

</style>

{% extends "base.html"%}

{% block content %} 
{% if is_paginated %}
	{% if page_obj.has_previous %}
         <a href="{% url "top_rated" %}?page={{ page_obj.previous_
   		  page_number }}">Previous</a>
    {% endif %}
<a id="back" onClick="javascript:history.go(-1);">&lt;--Back</a>
	<form action="/films/filmOptions/" method="get">
		<table >
			<tr>
				<th>NAME</th>
				<th>YEAR</th>
				<th>RATING</th>
				<th>DIRECTOR</th>
				<th>LOCATION</th>
				<th>GENRE</th>
				<th>OPTIONS</th>
			</tr>

			<!-- {% if film_list%} -->
			{% for film in object_list %}
			<tr>
				<td>{{film.film_name}}</td>
				<td>{{film.year}}</td>
				<td>{{film.rate}}</td>
				<td>{{film.director}}</td>
				<td>{{film.film_location}}</td>
				<td>{% for g in film.film_genre.all %}{{ g}}
					{% if not forloop.last %},
					{% endif %}
					{% endfor %}</td>
				<td><button name="film_but" type="submit" value="{{film.pk}}">See Details!</button>
					{% if user.is_authenticated %}
				    <button name="film_del_but" type="submit" value="{{film.pk}}">Delete!</button>
					<button name="film_update_but" type="submit" value="{{film.pk}}">Update!</button>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
			<!-- {% endif %} -->
		</table>
	</form>
	{% if page_obj.has_next %}
	         <a href="{% url "top_rated" %}?page={{ page_obj.next_page_
	   		  number }}">Next</a>
	{% endif %}
{% endif %}
{% endblock %}